@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
<h1 class="display-4">@ViewBag.Vname</h1>
<h2>Soy un desarrollador Programador de tecnologias .NET y JavaScript.</h2>
<img id="photo" src="~/images/flower.png" alt="foto Rosa" >
    <img id="photo" src="~/Images/patatita.png" />
     <img src="https://github.com/midudev.png" id="photo" alt="hugenerd" />
</div>
<div class="row justify-content-center text-center bg-primary">
<div class="col col-md-7 seccion-bienvenida">
<h1>Te doy la bienvenida a mi CurriculumVitae</h1>
<p> He estudiado Ciclo formativo de grado superior de DAW en Escuela Monlau
He realizado varios proyectos durante mis estudios
</p>
</div>
</div
