@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<strong><h1>Antoni Davia Yll</h1></strong>
<hr />
<p>25/05/2003</p>
<p>tonidyll@gmail.com</p>
<hr />
<strong><h3>Summary</h3></strong>
<p>An exceptional organized and friendly person who loves his work, with 2 years of experience in IT industry </p>
