<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<strong><h1>Antoni Davia Yll</h1></strong>
<hr />
<p>25/05/2003</p>
<p>tonidyll@gmail.com</p>
<hr />
<strong><h3>Summary</h3></strong>
<p>An exceptional organized and friendly person who loves his work, with 2 years of experience in IT industry </p>
=======
﻿<div style="margin-top: -105px">
<div class="row justify-content-md-center text-center">
<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
<i class="bi-hdd-fill"></i>
<h3>Back-end</h3>
<p>
Desarrollo ************************.
</p>
<p class="text-primary cabecera">
Stack:
</p>
<p>
ASP.NET Core, SQL Server C# PHP
</p>
<p class="text-primary cabecera">
Experiencia:
</p>
<ul>
<li>Web APIs</li>
<li>ASP.NET Core MVC</li>
<li>Entity Framework Core</li>
<li>Blazor</li>
<li>PHP</li>
<li>********</li>
<li>********</li>
</ul>
</div>
<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
<i class="bi-code-slash"></i>
<h3>Front-End</h3>
<p>
Puedo crear front-ends y +++++++++++ .
</p>
<p class="text-primary cabecera">
*************:
</p>
<p>
React, Angular, Blazor
</p>
<p class="text-primary cabecera">
Experiencia:
</p>
<ul>
<li>***AAAAA****</li>
<li>***AAAAA****</li>
<li>***AAAAA****</li>
<li>***AAAAA****</li>
<li>***AAAAA****</li>
<li>***AAAAA****</li>
<li>***AAAAA****</li>
</ul>
</div>
</div>
</div
>>>>>>> 306dfc5b066285c2be784d7c84164c30312d3a3e
