@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Contact form</p>
<form>

    <label for="Name">Name:</label><br>
    <input type="text" placeholder="Name" name="Name" id="Name" /><br>
    <label for="Surname">Surname:</label><br>
    <input type="text" placeholder="Surname" name="Surname" id="Surname" /><br>
    <label for="Surname">Email:</label><br>
    <input type="text" placeholder="Email" name="Email" id="Email" /><br>
    <label for="Comment">Comment:</label><br>
    <input type="text" placeholder="Comment" name="Comment" id="Comment" /><br>
    <br>
    <!-- Buttons -->
    <button class=" bg-success bg-gradient" type="submit" name="actionSubmitCreate" value="Create">Contact</button>
</form>
