<link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
<div class="container mx-auto mt-4">
    <div class="row">
        @foreach (var project in ViewBag.VProject)
        {
            <div class="col-md-4">
                <div class="card" style="width: 20em; height: 30em;">
                    <img src="@project.ImageURL" class="card-img-top" alt="Experience image" />
                    <div class="card-body">
                        <h5 class="card-title">@project.Title</h5>
                        <p class="card-text" style="height: 6em;">@project.Description</p>
                        <a href="@project.Link" class="btn"><i class="fab fa-github"></i>Github</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>