<link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
<div class="container mx-auto mt-4">
    <div class="row">
        @foreach (var studyCoursed in ViewBag.VStudyCourse)
        {
                <div class="col-md-4">
                    <div class="card" style="width: 20em; height: 30em;">
                    <img src="@studyCoursed.ImageURL" class="card-img-top" alt="Experience image" />
                        <div class="card-body">
                        <h5 class="card-title">@studyCoursed.Title</h5>
                        <p class="card-text" style="height: 6em;">@studyCoursed.Dates </p>
                        <a href="@studyCoursed.Link" class="btn"><i class="fab fa-link"></i>Visitar Sitio Web</a>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>