@{
    ViewData["Title"] = "Summary Curriculum Vitae";
}
<h1>@ViewData["Title"]</h1>

<h1>SUMMARY CV</h1>
<a href='~/api/Downloadcv/download' download> <img src="~/Images/cv.jpg" alt="CV" style="width:30em; height:40em;"></a>
<a href='~/api/Downloadcv/download' class="btn mr-2" download>Download File From Folder</a>
