   <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
<div style="margin-top: 5%">
    <div class="row justify-content-md-center text-center parent">
        <div class="col col-3 bg-dark habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>Development of applications</p>
            <hr />
            <p class="text-primary cabecera">Tech:</p>
            <p>ASP.NET Core, SQL Server,PL/SQL, C#, PHP, Java</p>
            <p class="text-primary cabecera">Experience:</p>
            <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>PHP connection to Mysql</li>
            <li>Java & Java GUI</li>
            <li>PL/SQL Queries</li>
            </ul>
         </div>
            <div class="col col-3 bg-dark habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>Development of front-end applications</p>
            <p class="text-primary cabecera">Tech</p>
            <p>React, Angular, JavaScript, HTML, CSS</p>
            <p class="text-primary cabecera">
            Experiencie:
            </p>
            <ul>
            <li>Usage of React Componentents & React Hooks</li>
            <li>Javascript Canvas games</li>
            <li>HTML & CSS Webpage creation & design </li>
            </ul>
        </div>
    </div>
</div>